MOODLE_PORT=8097
MOODLE_BRANCH=MOODLE_502_STABLE
MOODLE_ADMIN_PASSWORD=AdminDemo1!
WEBIRR_MOODLE_DEMO_USERNAME=webirrstudent
WEBIRR_MOODLE_DEMO_PASSWORD=WebirrDemo1!
WEBIRR_TEST_ENV_MERCHANT_ID=your-test-merchant-id
WEBIRR_TEST_ENV_API_KEY=your-test-api-key
